
 <!-- About-->
  <header class="masthead">

    <div class="container px-4 px-lg-5 h-100"> 
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end"> 
                <img src="./Assets/images/me.PNG" width="200" height="200">
                <h1 class="text-white font-weight-bold">Hyoan Moon</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5"> #Centennial College #software engineering technology #South Korea <br> #English #Korean</p>
                <a class="btn btn-primary btn-xl" href="/projects">GET STARTED</a>
            </div>
        </div>
    </div>
    
</header>
<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Resume</h2>
        <a class="btn btn-light btn-xl" href="./Assets/images/Hyoan-Moon-2.pdf">Download Now!</a>
    </div>
</section>


